/* Bouton Nouveau post flottant */
#newpost{ 
    display: flex;
    border: solid 2px #c2b269;
    background-color: #fae588;
    height: 50px;
    width: 50px;
    border-radius: 50px; 
    font-size: 30px;
    margin-left: 5px;
    color: #ffffff;
    right: 80px;
    bottom: 40px;
    position: fixed;
}

.plus{
    font-size: 30px;
    margin-left: 7px;
    bottom: 45px;
    position: fixed;
}



/* Bouton S'inscrire */
.inscription{
    border-radius: 40px;
    border: 1px solid #fad764;
    background-color: #eadbab;
    color: #debb46;
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-family: 'Monserrat-regular';
}

/* Bouton Se connecter */
.submit{
    border-radius: 40px;
    border: 1px solid #fad764;
    background-color: #eadbab;
    color: #debb46;
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-family: 'Monserrat-regular';
    margin-top: 20px;
}

/* Bouton qui efface */
#trash{
    width: 20px;
    height: 20px;
    align-items: center;
} 

#delete{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ffff;
    position: sticky;
    margin-left: 445px;
    margin-top: 10px;
} 

/* bouton du popup */
.inscr{
    border: solid 1px #ce8590;
    background-color: #f0bbc2;
    border-radius: 35%;
    width: 100px;
    height: 50px;
    margin-left: 85px;
}

/* Bouton supprimer post */
#sppr{
    height:20px ;
    width: 20px;
    align-items: end;
}
