/* Responsive téléphone */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .honi {
    display: none;
  }

  .btn{
    width: 75px !important;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .hamburger {
    display: flex;
  }

  .logo{
    display: none;
  }

  .head-logo {
    width: 300px !important;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    padding-left: 70px;
    padding-bottom: 40px;
    right: 490px;
    top: 0;
    display: none;
  }

  .modif {
    visibility: visible;
    position: relative;
    right: 10px;
    top: 5px;
    font-size: 15px;
    width: 10px;
    /* display: none; */
  }

  #closed {
    visibility: visible;
    margin-top: 30px;
    position: relative;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .vg{
    font-weight: lighter !important;
  }

  #tendance {
    margin-left: -78px !important;
  }

  .imgpost{
    width: 80%;
  }

  .popup{
    width: fit-content !important;
  }

  .message{
    align-items: center;  
    margin-left: 0;
  }

  .deletemodal{
    left: 110px;
  }

}

/* Responsive tablette */
@media screen and (min-width: 769px) and (max-width: 979px) {
  * {
    margin: 0px;
    padding: 0px;
  }

  /* navbar / sidenavbar */
  .search {
    margin-left: 100px;
  }

  .logo {
    display: grid;
    grid-column: 2;
    margin: 0;
    position: relative;
    height: 20;
    top: 25px;
    right: 50px;
    /* display: none; */
  }

  .modif {
    visibility: visible;
    position: relative;
    right: 10px;
    top: 5px;
    font-size: 15px;
    width: 10px;
    /* display: none; */
  }

  /* #compte {
    position: relative;
    right: 10px;
  } */

  .btn-logo:hover,
  .btn-logo:focus {
    color: darkorange;
  }

  .head-logo {
    width: 300px !important;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding-left: 70px;
    padding-bottom: 40px;
    right: 490px;
    top: 170px;
    display: none;
  }

  #closed {
    visibility: visible;
    margin-top: 30px;
    position: relative;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .hamburger {
    display: block;
  }

  .btn{
    width: 75px !important;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
