/* Responsive téléphone */
@media screen and (min-width: 480px) and (max-width: 768px) {
.honi {
    display: none;
  }
}

/* Responsive tablette */
@media screen and (min-width: 769px) and (max-width: 979px) {
* {
    margin: 0px;
    padding: 0px;
  }

  .search {
    margin-left: 100px;
  }

  .logo {
    display: grid;
    grid-column: 2;
    margin: 0;
    position: relative;
    height: 20;
    top: 25px;
    right: 50px;
    /* display: none; */
  }

  .modif {
    visibility: visible;
    position: relative;
    right: 10px;
    top: 5px;
    font-size: 15px;
    width: 10px;
    /* display: none; */
  }

  #compte {
    position: relative;
    right: 10px;
  }

  .btn-logo:hover,
  .btn-logo:focus {
    color: darkorange;
  }

  .head-logo {
    width: 100000px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding-left: 70px;
    padding-bottom: 40px;
    right: 490px;
    top: 170px;
    display: none;
  }

  #closed {
    visibility: visible;
    margin-top: 30px;
    position: relative;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .hamburger {
    display: block;
  }
}
