header{
    display: flex;
    align-items: center;
    background-color: #faf3e2;
    height: 85px;
}

.btn-logo{
    border: none;
    background-color:rgb(0, 0, 0,0);
}

.logo-honi{
    margin-left: 10px;
}

.honi:hover{
    animation-name: shakeX;
    animation-duration: 1000ms;
}

.titre{
    margin-top: 15px;
    margin-left: 60px;
}


.search{
    border-radius: 80px;
    height: 40px;
    width: 260px;
    margin-left: 25px;
}

.home{
    text-align: center;
}


.logo{
    margin: 18px;
    height: 30px;
    width: 30px;
}


.head-logo{
    margin-left: 400px;
    margin-top: 15px;
}

.modif{
    font-size: 0;
    visibility: hidden;
}

.hamburger{
    display: none;
    border-radius: 50%;
    background-color: #d9bb74c5;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    top: 20px;
    right: 110px;
}

#closed{
    visibility: hidden;
}